.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 16px;
        padding-top: 48px;
    }
}